body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
    position: relative;
}

.layer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 120vw;
    transform: translate(-10vw);
}
